<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /nm-vue
RewriteRule ^nm-vue/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /nm-vue/index.html [L]
</IfModule>
